@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url('@app/styles/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('@app/styles/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('@app/styles/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('@app/styles/fonts/Roboto-Bold.ttf') format('truetype');
}
