@use './fonts';

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// стилизация скрола
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #413838;
}
